@import "../../styles/global.scss";

.Call {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../public/background.jpg");
  background-position: top;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @media only screen and (max-width: 600px) {
    min-height: 26rem;
    margin-top: 3rem;
  }

  &__heading {
    font-size: 4.8rem;
    color: white;
    font-family: "Abril Fatface", cursive;
    margin-left: 20%;

    span {
      font-size: 9.6rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 2.8rem;
      span {
        font-size: 3.6rem;
      }
    }
  }

  &__arrowLeft,
  &__arrowRight {
    background-color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    @media only screen and (max-width: 880px) {
      width: 2.2rem;
      height: 2.2rem;
      padding: 0.5rem;
    }
  }

  &__arrowLeft {
    position: absolute;
    left: 10.5rem;

    @media only screen and (max-width: 880px) {
      left: 2.6rem;
    }
  }

  &__arrowRight {
    position: absolute;
    right: 7.3rem;

    @media only screen and (max-width: 880px) {
      right: 3.2rem;
    }
  }

  &__callUs {
    background-color: $dark-blue;
    width: 80%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5rem 5.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.7rem;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      padding: 2rem 2.4rem;
    }

    &__text {
      font-size: 2.5rem;
      color: white;
      font-weight: 700;

      @media only screen and (max-width: 1050px) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }

    &__button {
      background-color: transparent;
      border: 3px solid white;
      border-radius: 5rem;
      padding: 2rem 4rem;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.2s;

      @media only screen and (max-width: 1050px) {
        font-size: 1.5rem;
        padding: 1rem 3rem;
      }

      @media only screen and (max-width: 600px) {
        font-size: 1rem;
        padding: 1rem 4rem;
        margin-top: 1rem;
      }

      &:hover {
        background-color: white;
        color: $dark-blue;
      }
    }
  }
}
